<ion-list *ngIf="plots.length > 0">
  <!-- <ion-searchbar [(ngModel)]="searchInput" (ionInput)="getItems($event)" showCancelButton placeholder="Find Plots"></ion-searchbar> -->
  <ion-card *ngFor="let plot of plots" (click)="onViewInfo(plot.id)">
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button fill="solid" shape="round"><ion-icon name="information-circle" (click)="onViewInfo(plot.id)"></ion-icon></ion-button>
        </ion-buttons>
      <ion-card-header>
      <ion-card-title>
        {{ plot.plotName }}
      </ion-card-title> 
    </ion-card-header>
  </ion-toolbar>
    <ion-card-content class="card-buttons">
      <ion-button size="small" fill="outline" (click)="onTagPlot(plot.id)">
        <ion-icon name="map"></ion-icon>
        Tag
      </ion-button>
      <ion-button size="small" fill="outline" color="success" (click)="onAddPlot(plot.id)">
        <ion-icon name="add"></ion-icon>
        Add
      </ion-button>
      <ion-button size="small" fill="outline" color="danger" (click)="deletePlot(plot.id)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-list>
<p class="info-text" *ngIf="plots.length <= 0">No Plots Added Yet!</p>