<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="white">
      {{ plot.plotName }}
    </ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-buttons class="action-buttons">
    <ion-button fill="solid" (click)="onTagPlot(plot.id)">
      <ion-icon name="pin"></ion-icon>
      Tag
    </ion-button>
    <ion-button fill="solid" color="success" (click)="onAddPlot(plot.id)">
      <ion-icon name="add"></ion-icon>
      Add
    </ion-button>
    <ion-button fill="solid" color="danger" (click)="deletePlot(plot.id)">
      <ion-icon name="trash"></ion-icon>
      Delete
    </ion-button>
  </ion-buttons>
</ion-content>