<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ plot.plotName }}
    </ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="onTag(plot.id)">
            <ion-icon slot="icon-only" name="pin"></ion-icon>
          </ion-button>
          <!-- <ion-button (click)="onAddPlot(plot.id)">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button> -->
          <!-- <ion-button ion-only>
              <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button> -->
    </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="childPlots.length > 0">
  <ion-card *ngFor="let childplot of childPlots">
      <!-- <img class="image-content" src="../../../assets/icon/world.png"> -->
    <ion-card-header>
      <ion-card-title>
        <ion-card-title> {{ childplot.plotName }} </ion-card-title>
        <ion-card-subtitle>Total Area: {{ childplot.plotArea }} </ion-card-subtitle>
      </ion-card-title>
      <ion-buttons flot-right *ngIf="childplot.plotArea > 0">
          <ion-button>
              <ion-icon name="checkmark-circle"></ion-icon>
            </ion-button>
      </ion-buttons>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          Plot Img Data : {{ childplot.plotImgData }}
        </ion-label>
        <img src="{{ childplot.plotImgData }}" alt="">
      </ion-item>
        <ion-label>{{ childplot.plotLatitude.toPrecision(4) }} </ion-label>
        <ion-label>{{ childplot.plotLongitude.toPrecision(4) }} </ion-label>
    </ion-card-content>
    <ion-buttons float-right>
      <ion-button color="danger" (click)="deleteChildPlots(childplot.id)">
        <ion-icon name="trash"></ion-icon>
        Delete
      </ion-button>
      <ion-button color="primary">
        <ion-icon name="eye"></ion-icon>
        View
      </ion-button>
      <ion-button color="secondary" (click)="onPlot(childplot.id)">
        <ion-icon name="walk"></ion-icon>
        Plot
      </ion-button>
    </ion-buttons>
  </ion-card>
</ion-list>
</ion-content>
<p class="info-text" *ngIf="childPlots.length <= 0"> No Child Plots Added Yet</p>