<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="white">
      Home
    </ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="addPlot()" fill="solid" color="primary"><ion-icon name="add"></ion-icon>ADD</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button size="full" (click)="addPlot()">ADD PLOT</ion-button> -->
  <!-- <app-plots-create></app-plots-create> -->
  <app-plots-list></app-plots-list>
</ion-content>
